/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[3]!./app/dashboard/dashboard.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
/* Dashboard-specific styles to override global layout */
body {
  margin: 0;
  padding: 0;
}

/* Prevent header/footer from showing in dashboard */
header,
footer {
  display: none !important;
}


/* smooth scroll and no ugly scrollbar */
aside::-webkit-scrollbar,
main::-webkit-scrollbar {
  width: 6px;
}
aside::-webkit-scrollbar-thumb,
main::-webkit-scrollbar-thumb {
  background: #d4d4d4;
  border-radius: 5px;
}

